

//$palette-primary:map-deep-get($MD-Color,blue,value);
//$palette-primary-text:map-deep-get($MD-Color,blue,element);
//$palette-primary-2:map-deep-get($MD-Color,blue,primary,900,value);
//$palette-primary-2-text:map-deep-get($MD-Color,blue,primary,900,element);
//$palette-primary-3:map-deep-get($MD-Color,blue,primary,700,value);
//$palette-primary-3-text:map-deep-get($MD-Color,blue,primary,700,element);
//$palette-primary-accent:map-deep-get($MD-Color,blue,accent,100,value);
//$palette-primary-accent-text:map-deep-get($MD-Color,blue,accent,100,element);
//$palette-secondary:map-deep-get($MD-Color,pink,value);
//$palette-secondary-text:map-deep-get($MD-Color,pink,element);
//$palette-secondary-accent:map-deep-get($MD-Color,pink,accent,200,value);
//$palette-secondary-accent-text:map-deep-get($MD-Color,pink,accent,200,element);
//$palette-label:map-deep-get($MD-Color,grey,value);
//$palette-label-accent:map-deep-get($MD-Color,grey,primary,300,value);
//$palette-label-dark-light:#000;
//$palette-placeholder:rgba($palette-label,0.54);
//$palette-hint:rgba($palette-label,0.26);
//$palette-switch:#F1F1F1;
//$palette-switch-track:#818181;


//flex-grid
//$theme-flex-grid-background:#fff;
//$theme-flex-grid-font-color:initial;
//$theme-flex-grid-border:#dfdfdf;

//flex-table
//$theme-flex-table-background:#fff;
//$theme-flex-table-font-color:initial;
//$theme-flex-table-border:#dfdfdf;

//grid-pagination
//$theme-grid-pagination-background:#fff;
//$theme-grid-pagination-font-color:#787878;
//$theme-grid-pagination-text-shadow:0 0 0 #787878;
//$theme-grid-pagination-border:1px solid #dadada;
//$theme-grid-pagination-background-hover:#8ebc00;
//$theme-grid-pagination-font-color-hover:#fff;
//$theme-grid-pagination-text-shadow-hover:0 0 0 #fff;
//$theme-grid-pagination-border-hover:1px solid #8ebc00;
//$theme-grid-pagination-icon-color:#bbb;
//$theme-grid-pagination-icon-color-hover:#8ebc00;

//$grid-column-gutter: 30px;