


@mixin md-button(){
  .md-button{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    min-width: 5.14em;
    margin: 0 0.29em;
    background: transparent;
    text-align: center;
    font: inherit;
    text-transform: uppercase;
    outline: none;
    border-radius: 3px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.6em 0.57em;
    border:0;

  }
}