

/// @access private
/// @param {Map} $map
@mixin _md-dialog($map){
  $_bottom:map-get-default($map,bottom,0);
  $_width:map-get-default($map,width,500px);
  $_height:map-get-default($map,height,600px);
  $_background:map-get-default($map,background,#fff);
  $_z-index:map-get-default($map,z-index,4);
  $_font-family:map-get-default($map,font-family,'robotoregular');
  $_depth:map-get-default($map,depth,map-get($MD-Depth,3));
  $_header-height:map-nested-get-default($map,header,height,42px);
  $_header-padding:map-nested-get-default($map,header,padding,0 1em);
  $_header-font-family:map-nested-get-default($map,header,font-family,'robotomedium');
  $_header-color:map-nested-get-default($map,header,color,map-nested-get($MD-Color,blue,value));
  $_header-h6-margin:map-nested-get-default($map,header,h6-margin,0 0 0 1.5em);
  $_content-padding:map-nested-get-default($map,content,padding,0);

  $_calc-width:$_width/2;
  $_margin-top:$_header-height + 3;

  position:fixed;
  display:none;
  bottom:$_bottom;
  left:calc(50% - #{$_calc-width});
  width:$_width;
  height:$_height;
  background:$_background;
  box-shadow:$_depth;
  z-index:$_z-index;
  font-family:$_font-family;

  &>.header{
    z-index:1;
    @include flexbox($justification:flex-start,$alignment:center);
    position:absolute;
    height:$_header-height;
    width:100%;
    padding:$_header-padding;
    font-family:$_header-font-family;
    background:$_header-color;

    &>span[dialog-action]{
      margin-left:auto;
      font-size:12px;
      text-transform: uppercase;
      cursor:pointer;
      &:hover{
        opacity:.75;
      }
    }
    &>h6{
      margin:$_header-h6-margin;
      padding:0;
      font-size:1em;
      font-family:$_header-font-family;
    }
    span[close]{
      font-size:18px;
      cursor:pointer;
      &:hover{
        opacity:.75;
      }
    }
  }
  &>.content{
    margin-top:$_margin-top;
    height:100%;
    width:100%;
    padding:$_content-padding;
    overflow-y:scroll;
  }
  @include small-content(){
    height:100%;
    width:100%;
    left:0;
  }
}




/// @access public
/// @require {Mixin} _md-dialog - private mixin
/// @require {Mixin} md-element - element tag mixin
/// @param {String} $class - class scope
/// @param {Map} $map
/// @prop {String} bottom (0) - bottom
/// @prop {String} width (500px) - width
/// @prop {String} height (600px) - height
/// @prop {String} background (#fff) - background
/// @prop {String} z-index (4) - z-index
/// @prop {String} font-family ('robotoregular') - height
/// @prop {String} extend-depth ('.md.elevation-3') - extend depth class
/// @prop {Map} header - component header map
/// @prop {String} header.height (42px) - header height
/// @prop {String} header.padding (0 1em) - header padding
/// @prop {String} header.font-family ('robotomedium') - header font-family
/// @prop {String} header.extend-color ('.md.blue') - header extend color class
/// @prop {String} header.h6-margin (0 0 0 1.5em) - header h6 title margin
/// @prop {Map} content - component content map
/// @prop {String} content.padding (0) - content padding
/// @content css
/// @example
///   md-dialog($map:(height:500px))
@mixin md-dialog($class:null,$map:()){
  $tag:md-dialog;
  @include element-tag($tag:$tag,$class:$class){
    @include _md-dialog($map);
    @content;
  }
}