

/// @access public
/// @param {Map} $map
/// @prop {String} width (100%) - component width
/// @prop {String} height (10em) - component height
/// @prop {String} span-size (14px) -
/// @prop {Map} icon
/// @prop {String} icon.size (72px) - icon font size
/// @prop {Map} breakpoint
/// @prop {Map} breakpoint.large
/// @prop {String} breakpoint.large.icon-size (48px) icon font size
/// @prop {String} breakpoint.large.header-size (2em) h2 font size
/// @prop {Map} breakpoint.medium
/// @prop {Map} breakpoint.medium.icon-size
/// @prop {Map} breakpoint.medium.header-size
/// @prop {String} breakpoint.medium.width
/// @prop {Map} breakpoint.small
/// @prop {String} breakpoint.small.width
/// @prop {Map} breakpoint.small.icon-size
/// @prop {String} breakpoint.small.header-size
/// @content css
/// @example
///   md-icon-card($map:(width:300px,height:100px))
@mixin md-icon-card($map:()){
  $_width:map-get-default($map,width,100%);
  $_height:map-get-default($map,height,10em);
  $_icon-size:map-nested-get-default($map,icon,size,72px);
  $_span-size:map-get-default($map,span-size,14px);
  $_breakpoint-large-width:map-default-deep-get($map,100%,breakpoint,large,width);
  $_breakpoint-large-icon-size:map-default-deep-get($map,72px,breakpoint,large,icon-size);
  $_breakpoint-large-header-size:map-deep-get($map,breakpoint,large,header-size);
  $_breakpoint-medium-width:map-default-deep-get($map,100%,breakpoint,medium,width);
  $_breakpoint-medium-icon-size:map-default-deep-get($map,72px,breakpoint,medium,icon-size);
  $_breakpoint-medium-header-size:map-deep-get($map,breakpoint,medium,header-size);
  $_breakpoint-small-width:map-default-deep-get($map,100%,breakpoint,small,width);
  $_breakpoint-small-icon-size:map-default-deep-get($map,72px,breakpoint,small,icon-size);
  $_breakpoint-small-header-size:map-deep-get($map,breakpoint,small,header-size);



  md-icon-card{
    font-family:map-get($Roboto,regular);
    @include flexbox($justification:space-around,$alignment:center);
    width:$_width;
    height:$_height;
    @include span-icon(){
      font-size:$_icon-size;
    }
    .card-text{
      h2{
        margin:0 0 -4px 0;
      }
      span{
        font-size:$_span-size;
      }
    }
    @content;

    @include large-content() {
      width:$_breakpoint-large-width;
      @include span-icon(){
        font-size:$_breakpoint-large-icon-size;
      }
      .card-text{
        h2{
          font-size:$_breakpoint-large-header-size;
          @if $_breakpoint-large-header-size !=null{
            font-size:$_breakpoint-large-header-size;
          }
        }
      }
    }
    @include medium-content(){
      width:$_breakpoint-medium-width;
      @include span-icon(){
        font-size:$_breakpoint-medium-icon-size;
      }
      .card-text{
        h2{
          font-size:$_breakpoint-medium-header-size;
          @if $_breakpoint-medium-header-size !=null{
            font-size:$_breakpoint-medium-header-size;
          }
        }
      }
    }
    @include small-content(){
      width:$_breakpoint-small-width;
      @include span-icon(){
        font-size:$_breakpoint-small-icon-size;
      }
      .card-text{
        h2{
          font-size:$_breakpoint-small-header-size;
          @if $_breakpoint-small-header-size !=null{
            font-size:$_breakpoint-small-header-size;
          }
        }
      }
    }
  }
}