@import "../variables";


/////private

///_md-radio
///@private
///@param {Map} $map
@mixin _md-radio($map:()){
  $_label:map-get-default($map,label,map-get($Palette,label));
  $_primary:map-get-default($map,primary,map-get($Palette,primary));
  $_secondary:map-get-default($map,secondary,map-get($Palette,primary-3));
  $_placeholder:map-get-default($map,placeholder,map-get($Palette,placeholder));
  $_disabled:map-get-default($map,disabled,map-get($Palette,hint));

  md-radio{
    visibility: hidden;
    @content;
    margin:0 0 1em 0;
    &.margin-left{
      margin-left:.5em;
    }
  }
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1em;
    @include transition(.28s ease);

    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
  }

  [type="radio"] + label:before,
  [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    @include transition(.28s ease);
  }


  /* Unchecked styles */
  [type="radio"]:not(:checked) + label:before {
    border-radius: 50%;
    border: 2px solid $_label;
  }
  [type="radio"]:not(:checked) + label:after {
    border-radius: 50%;
    border: 2px solid $_label;
    z-index: -1;

    @include transform(scale(0));
  }

  /* Checked styles */
  [type="radio"]:checked + label:before {
    border-radius: 50%;
    border: 2px solid transparent;
  }
  [type="radio"]:checked + label:after {
    border-radius: 50%;
    border: 2px solid $_secondary;
    background-color: $_secondary;
    z-index: 0;
    @include transform(scale(1.02));
  }

  /* Radio With concentric gap */
  [type="radio"].concentric:checked + label:before {
    border-radius: 50%;
    border: 2px solid $_secondary;
  }
  [type="radio"].concentric:checked + label:after {
    border-radius: 50%;
    border: 2px solid $_secondary;
    background-color: $_secondary;
    z-index: 0;
    @include transform(scale(.5));
  }

  /* Disabled Radio With concentric gap */
  [type="radio"].concentric:disabled:checked + label:before {
    border: 2px solid $_disabled;
  }
  [type="radio"].concentric:disabled:checked + label:after {
    border: none;
    background-color: $_disabled;
  }

  /* Disabled style */
  [type="radio"]:disabled:not(:checked) + label:before,
  [type="radio"]:disabled:checked + label:before {
    background-color: transparent;
    border-color: $_disabled;
  }
  [type="radio"]:disabled + label {
    color: $_disabled;
  }
  [type="radio"]:disabled:not(:checked) + label:before {
    border-color: $_disabled;
  }
  [type="radio"]:disabled:checked + label:after {
    background-color: $_disabled;
    border-color: $_disabled;
  }
};



///_md-checkbox
///@private
///@param {Map} $map
@mixin _md-checkbox($map:()){
  $_label:map-get-default($map,label,map-get($Palette,label));
  $_primary:map-get-default($map,primary,map-get($Palette,primary));
  $_secondary:map-get-default($map,secondary,map-get($Palette,primary-3));
  $_secondary-text:map-get-default($map,secondary,map-get($Palette,primary-3-text));
  $_placeholder:map-get-default($map,placeholder,map-get($Palette,placeholder));
  $_disabled:map-get-default($map,disabled,map-get($Palette,hint));



  md-checkbox{
    visibility: hidden;
    position:relative;
    margin:0 0 1em 0;
  }
  /* Remove default checkbox */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    //left: -9999px;
    visibility: hidden;
  }

  // Checkbox Styles
  [type="checkbox"] {

    // Text Label Style
    + label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      font-size: 1rem;

      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;
    }

    /* checkbox aspect */
    + label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      z-index: 0;
      border: 2px solid $_label;
      border-radius: 1px;
      margin-top: 2px;
      @include transition(.2s);
    }

    &:not(:checked):disabled + label:before {
      border: none;
      background-color: $_label;
    }

  }

  [type="checkbox"]:checked {
    + label:before {
      top: -4px;
      left: -3px;
      width: 12px; height: 22px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid $_secondary;
      border-bottom: 2px solid $_secondary;
      @include transform(rotate(40deg));
      -webkit-backface-visibility: hidden;
      @include transform-origin(100% 100%);
    }

    &:disabled + label:before {
      border-right: 2px solid $_secondary;
      border-bottom: 2px solid $_secondary;
    }

  }

  /* Indeterminate checkbox */
  [type="checkbox"]:indeterminate {
    +label:before {
      left: -10px;
      top: -11px;
      width: 10px; height: 22px;
      border-top: none;
      border-left: none;
      border-right: 2px solid $_secondary;
      border-bottom: none;
      @include transform(rotate(90deg));
      -webkit-backface-visibility: hidden;
      @include transform-origin(100% 100%);
    }

    // Disabled indeterminate
    &:disabled + label:before {
      border-right: 2px solid $_disabled;
      background-color: transparent;
    }
  }


  // Filled Style
  [type="checkbox"].filled {
    + label:after {
      border-radius: 2px;
    }
    + label:before,
    + label:after {
      content: '';
      left: 0;
      position: absolute;
      -webkit-transition:border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
    }
    // Unchecked style
    &:not(:checked) + label:before {
      width: 0;
      height: 0;
      border: 3px solid transparent;
      left: 6px;
      top: 10px;

      -webkit-transform: rotateZ(37deg);
      transform: rotateZ(37deg);
      -webkit-transform-origin: 20% 40%;
      transform-origin: 100% 100%;
    }
    &:not(:checked) + label:after {
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: 2px solid $_label;
      top: 0;
      z-index: 0;
    }
    // Checked style
    &:checked {
      + label:before {
        top: 0;
        left: 1px;
        width: 8px;
        height: 13px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid $_secondary-text;
        border-bottom: 2px solid $_secondary-text;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);

        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }
      + label:after {
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid $_secondary;
        background-color: $_secondary;
        z-index: 0;
      }
    }
    // Disabled style
    &:disabled:not(:checked) + label:before {

      background-color: transparent;
      border: 2px solid transparent;
    }
    &:disabled:not(:checked) + label:after {
      border-color: transparent;
      background-color: $_disabled;
    }
    &:disabled:checked + label:before {
      background-color: transparent;

    }
    &:disabled:checked + label:after {
      background-color: $_disabled;
      border-color: $_disabled;
    }

  }

};



///_md-range
///@private
///@param {Map} $map
@mixin _md-range($map:()){
  $_label:map-get-default($map,label,map-get($Palette,label));
  $_label-accent:map-get-default($map,label-accent,map-get($Palette,label-accent));
  $_primary:map-get-default($map,primary,map-get($Palette,primary));
  $_text:map-get-default($map,text,map-get($Palette,label-dark-light));
  $_secondary:map-get-default($map,secondary,map-get($Palette,primary-3));
  $_secondary-text:map-get-default($map,secondary,map-get($Palette,primary-3-text));
  $_placeholder:map-get-default($map,placeholder,map-get($Palette,placeholder));
  $_disabled:map-get-default($map,disabled,map-get($Palette,hint));
  $_width:map-get-default($map,width,100%);

  md-range {
    position: relative;
    @content;
  }
  .value{
    width:calc(#{$_width} + 50px);
    position:absolute;
    right:0;
    top:1px;
    left:0;
    @include phone-content(){
      width:calc(#{$_width} + 40px);
    }
    .range-display{
      right:0;
      width:40px;
      position:absolute;
      @include phone-content(){
        width:35px;
      }
    }
    .range-value-container{
      @include flexbox($justification:center);
    }
    .range-value{
      font-size:1em;
      color:$_text;
      @include phone-content(){
        font-size:.9em;
      }
    }
    .range-value-border{
      height:1px;
      background:$_label;
      margin-top:3px;
    }
  }

  .progress{
    position:absolute;
    height:2px;
    background-color: $_secondary;
    left:0;
    top:14px;
    right:0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    width:99%;
  }

  input[type=range], input[type=range] + .thumb {
    @extend .no-select;
    cursor: pointer;
  }

  input[type=range] {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width:calc(#{$_width} - 50px);
    margin: 15px 0;
    padding: 0;
    @include phone-content(){
      width:calc(#{$_width} - 40px);
    }
  }
  .thumb {
    position: absolute;
    border: none;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: $_secondary;
    top: 0;
    margin-left: -6px;
    &.active {

    }
  }

  input[type=range]:focus {
    outline: none;
  }

  // WebKit
  input[type=range]{
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background: $_label-accent;
    border: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: $_secondary;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    margin: -5px 0 0 0;
    @include transition(.3s);
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $_label-accent;
  }

  // FireFox
  input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
  }

  input[type=range]::-moz-range-track {
    height: 2px;
    background: $_label-accent;
    border: none;
  }

  input[type=range]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $_secondary;
    margin-top: -5px;
  }

  input[type=range]:focus::-moz-range-track {
    background: $_label-accent;
  }

  // IE 10+
  input[type=range]::-ms-track {
    height: 2px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $_label-accent;
  }
  input[type=range]::-ms-fill-upper {
    background: $_label-accent;
  }
  input[type=range]::-ms-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $_secondary;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $_label-accent;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $_label-accent;
  }

};



///_md-switch
///@private
///@param {Map} $map
@mixin _md-switch($map:()){
  $_label:map-get-default($map,label,map-get($Palette,label));
  $_primary:map-get-default($map,primary,map-get($Palette,primary));
  $_secondary:map-get-default($map,secondary,map-get($Palette,primary-3));
  $_placeholder:map-get-default($map,placeholder,map-get($Palette,placeholder));
  $_disabled:map-get-default($map,disabled,map-get($Palette,hint));

  $_switch-checked-lever-bg: desaturate(lighten($_secondary, 25%), 25%);
  $_switch-unchecked-bg: map-get-default($map,switch,map-get($Palette,switch));
  $_switch-unchecked-lever-bg: map-get-default($map,switch-track,map-get($Palette,switch-track));

  md-switch,
  md-switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
  }
  md-switch label {
    cursor: pointer;
  }
  md-switch label input[type=checkbox]{
    opacity: 0;
    width: 0;
    height: 0;
  }
  md-switch label input[type=checkbox]:checked + .lever {
    background-color: $_switch-checked-lever-bg;
  }
  md-switch label input[type=checkbox]:checked + .lever:after {
    background-color: $_secondary;
  }
  md-switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: $_switch-unchecked-lever-bg;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition:background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
  }
  md-switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: $_switch-unchecked-bg;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
  }
  // Switch active style
  input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px transparentize($_secondary, .9);
  }
  input[type=checkbox]:not(:disabled) ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px rgba(0, 0, 0, .08);
  }
  md-switch label input[type=checkbox]:checked + .lever:after {
    left: 24px;
  }

  // Disabled Styles

  md-switch input[type=checkbox][disabled] + .lever{
    cursor: default;
  }
  md-switch label input[type=checkbox][disabled] + .lever:after,
  md-switch label input[type=checkbox][disabled]:checked + .lever:after {
  }
  md-switch[disabled]{
    background:none !important;
    cursor:default;
    opacity:.5;
  }
  md-switch input[type=checkbox][disabled]{
    background:none !important;
  }


};



///_md-file
///@private
@mixin _md-file($map:()){
  $_width:map-get-default($map,width,100%);

  md-file {
    position: relative;

    input.file-path {
      margin-left: 100px;
      width: calc(100% - 100px);
    }

    .button {
      position: absolute;
      top: 0;
      left: 0;
      height: 3rem;
      line-height: 3rem;
    }

    span {
      cursor: pointer;
    }

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: $_width;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }

  }

};

///_md-input
///@private
///@param {Map} $map
@mixin _md-input($map:()){

  $_label:map-get-default($map,label,map-get($Palette,label));
  $_primary:map-get-default($map,primary,map-get($Palette,primary));
  $_secondary:map-get-default($map,secondary,map-get($Palette,primary-3));
  $_placeholder:map-get-default($map,placeholder,map-get($Palette,placeholder));
  $_disabled:map-get-default($map,disabled,map-get($Palette,hint));
  $_height:map-get-default($map,height,2.75em);
  $_width:map-get-default($map,width,100%);
  $_color:map-get-default($map,color,inherit);

  @include input(){
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $_label;
    border-radius: 0;
    outline: none;
    height: $_height;
    width: $_width;
    font-size: 1em;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing:content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    color:$_color;
    @include component-placeholder($_placeholder);

    &[disabled]{
      opacity:.5;
      background:none !important;
    }

    &:focus:not([readonly]) {
      border-bottom: 1px solid $_primary;
      box-shadow: 0 1px 0 0 $_primary;
    }

    &:focus:not([readonly])+label {
      color: $_primary;
    }

    & + label:after {
      display: block;
      content: "";
      position: absolute;
      top: 4em;
      opacity: 0;
      -webkit-transition: .2s opacity ease-out, .2s color ease-out;
      transition: .2s opacity ease-out, .2s color ease-out;
    }

  }

  label {
    font-size: .8em;
    color: $_label;
  }

  textarea {
    width: $_width;
    height: 3em;
    background-color: transparent;
  }

  md-input,md-textarea {
    position: relative;
    margin-top: 1em;
    display:block;
    span{
      &.icon-{
        display:none;
      }
    }

    label {
      color: $_label;
      position: absolute;
      top: 0.65em;
      left: 0;
      font-size: 1em;
      cursor: text;
      -webkit-transiton:.2s ease-out;
      transition:.2s ease-out;
    }

    label.active {
      font-size: .8em;
      @include transform(translateY(-90%));
    }

    &[disabled]{
      opacity:.5;
      background:none !important;
    }

    // Prefix Icons
    .prefix {
      display:inherit;
      position: absolute;
      width: 2em;
      font-size: 24px;
      @include transition(color .2s);
      color:$_placeholder;
      top:10px;
      &.active { color: $_primary; }
    }
    .prefix ~ input,
    .prefix ~ textarea {
      margin-left: 2em;
      width: calc(#{$_width} - 2em);
    }
    .prefix ~ textarea { padding-top: .8em; }
    .prefix ~ label { margin-left: 2.5em; }

    &[readonly]{
      color:$_placeholder;
    }

    @content;

  }
  md-textarea {
    margin-top: 1.25em;
    label {
      &.active{
        @include transform(translateY(-130%));
      }
    }
  }

};

///_md-select
///@private
///@param {Map} $map
@mixin _md-select($map:()){
  $_label:map-get-default($map,label,map-get($Palette,label));
  $_primary:map-get-default($map,primary,map-get($Palette,primary));
  $_secondary:map-get-default($map,secondary,map-get($Palette,primary-3));
  $_placeholder:map-get-default($map,placeholder,map-get($Palette,placeholder));
  $_disabled:map-get-default($map,disabled,map-get($Palette,hint));
  $_text:map-get-default($map,text,map-get($Palette,label-dark-light));
  $_height:map-get-default($map,height,2.75em);
  $_width:map-get-default($map,width,100%);
  $_color:map-get-default($map,color,inherit);

  md-select,[md-select] {
    position: relative;
    margin: 1em 0 2em 0;
    display:block;
    &>select{
      background:none;
      display: block;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: $_height;
      width: 100%;
      font-size: 1em;
      outline: none;
      cursor:pointer;
      color:$_color;
      border: none;
      border-bottom: 1px solid $_label;
      border-radius: 0;
      box-shadow: none;
      padding: 0 1.5em 0 0;
      // Focused input style
      &:focus:not([readonly]) {
        border-bottom: 1px solid $_primary;
        box-shadow: 0 1px 0 0 $_primary;
      }
      // Focused label style
      &:focus:not([readonly]) + label{
        color: $_primary;
      }
    }
    .icon-arrow-drop-down {
      color: initial;
      position: absolute;
      right: 5px;
      top: 8px;
      font-size: 24px;
      pointer-events: none;

    }
    label {
      position: absolute;
      top: -1.3em;
      font-size: .8em;
    }
    .prefix {
      display:inherit;
      position: absolute;
      width: 2em;
      font-size: 24px;
      @include transition(color .2s);
      color:$_placeholder;
      top:10px;
      &.active { color: $_primary; }
    }
    .prefix ~ select{
      margin-left: 2em;
      width: calc(#{$_width} - 2em);
    }
    .prefix ~ label { margin-left: 2.5em; }

    &[readonly]{
      color:$_placeholder;
    }
  }
};

///_md-input-icon-button
///@private
///@param {Map} $map
@mixin _md-input-icon-button($map:()){

  $_label:map-get-default($map,label,map-get($Palette,label));
  $_primary:map-get-default($map,primary,map-get($Palette,primary));
  $_secondary:map-get-default($map,secondary,map-get($Palette,primary-3));
  $_placeholder:map-get-default($map,placeholder,map-get($Palette,placeholder));
  $_disabled:map-get-default($map,disabled,map-get($Palette,hint));
  $_color:map-get-default($map,color,inherit);

  md-input-icon-button {
    @include flexbox($justification:space-between,$alignment:flex-end);
    position: relative;
    margin-top: 1em;
    label {
      color: $_label;
      position: absolute;
      top: 0.65em;
      left: 0;
      font-size: 1em;
      cursor: text;
      -webkit-transiton:.2s ease-out;
      transition:.2s ease-out;
    }
    label.active {
      font-size: .8em;
      @include transform(translateY(-90%));
    }
    input[type=text]{
      margin:0;
    }
    button{
      background:transparent;
      border:0;
      border-bottom:1px solid $_label;
      color:$_label;
      span{
        font-size:24px;
      }
      -webkit-transition: 50ms ease-out;
      transition: 50ms ease-out;
      &:hover,&:focus{
        color: $_primary;

      }
    }
    input[type=text]{
      -webkit-transiton:10ms ease-in;
      transition:10ms ease-in;
      color:$_color;
      &:focus:not([readonly]) {
        border-bottom: 1px solid $_primary;
        box-shadow: 0 1px 0 0 $_primary;
      }
      &:focus:not([readonly])+label+button {
        color: $_primary;
        border-bottom: 1px solid $_primary;
        box-shadow: 0 1px 0 0 $_primary;

      }
    }
    &[disabled]{
      opacity:.5;
      background:none !important;
    }

  }


};


////////Public

/// @access public
@mixin md-radio-list(){
  md-radio-list{
    &>label{
      font-size:1em !important;
    }
    width:100%;
    @include flexbox($alignment:center);
    @include flex-wrap(wrap);
    margin:1em 0 2em 0;
    &>*{
      margin:0 1em 0 0 !important;
    }
    &.column{
      @include flexbox-column();
      &>*{
        margin-top:1em;
      }
    }
  }
}

/// @access public
@mixin md-checkbox-list(){
  md-checkbox-list{
    &>label{
      font-size:1em !important;
    }
    width:100%;
    @include flexbox($alignment:center);
    @include flex-wrap(wrap);
    margin:1em 0 2em 0;
    &>*{
      margin:0 1em 0 0 !important;
    }
    &.column{
      @include flexbox-column();
      &>md-checkbox{
        margin-top:1em;
      }
    }
  }
}



///md-radio
///@public
///@param {String} $class
///@param {Map} $map
@mixin md-radio($class:md,$map:()){

  &.#{$class}{
    @include _md-radio($map);
    md-radio{
      @content;
    }

  }

};



///md-checkbox
///@public
///@param {String} $class
///@param {Map} $map
@mixin md-checkbox($class:md,$map:()){

  &.#{$class}{
    @include _md-checkbox($map);
    md-checkbox{
      @content;
    }
  }

};




///md-range
///@public
///@param {String} $class
///@param {Map} $map
@mixin md-range($class:md,$map:()){

  @-moz-document url-prefix() {
    &.#{$class}{
      md-range{
        .progress{
          top:-12px !important;
        }
        .thumb {
          top: -25px !important;
        }
        .value{
          top:-23px;
        }
      }
    }
  }

  &.#{$class}{
    @include _md-range($map);
    md-range{
      @content;
    }
  }

};





///md-switch
///@public
///@param {String} $class
///@param {Map} $map
@mixin md-switch($class:md,$map:()){

  &.#{$class}{
    @include _md-switch($map);
    md-switch{
      @content;
    }
  }

};


///md-select
///@public
///@param {String} $class
///@param {Map} $map
@mixin md-select($class:md,$map:()){

  &.#{$class}{
    @include _md-select($map);
    md-select{
      @content;
    }
  }

};


///md-file
///@public
///@param {String} $class
@mixin md-file($class:md,$map:()){

  &.#{$class}{
    @include _md-file($map);
    md-file{
      @content;
    }
  }

};




///md-input
///@public
///@param {String} $class
///@param {Map} $map
@mixin md-input($class:md,$map:()){

  &.#{$class}{
    @include _md-input($map);
    md-input,md-textarea{
      @content;
    }
  }

};

///md-input-icon-button
///@public
///@param {String} $class
///@param {Map} $map
@mixin md-input-icon-button($class:md,$map:()){

  &.#{$class}{
    @include _md-input-icon-button($map);
    md-input-icon-button{
      @content;
    }
  }

};



///md-forms
///@public
///@param {String} $class
///@param {Map} $map
@mixin md-forms($class:md,$map:()){

  button:focus {
    outline: none;
  }

  *[disabled]{
    opacity:.5;
  }

  @include md-input($class,$map);
  @include md-radio($class,$map);
  @include md-checkbox($class,$map);
  @include md-range($class,$map);
  @include md-switch($class,$map);
  @include md-select($class,$map);
  @include md-file($class);
  @include md-input-icon-button($class,$map);
  @include md-radio-list();
  @include md-checkbox-list();
  @content;
};


